.button {
    background-color: #ce42ab;
    border: 1 solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    left: 0;

    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Arial', Arial, serif;
    font-size: 20px;
}