.button {
    background-color: #ce42ab;
    border: 1 solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    left: 0;

    }
.footer {
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #3823ec;
    border: 1px solid black;
    z-index: 4;
    font-family: 'Arial', Arial, serif;
}

#container {
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: #3823ec;
    border: 1px solid black;
    margin-left: 54.5px;
}

p {
    font-family: 'Arial', Arial, serif;
    font-size: 20px;
}

body {
    background-image: url(https://conteudo.imguol.com.br/c/noticias/b1/2022/05/01/servidores-servidor-data-center-datacenter-nuvem-armazenamento-1651425786981_v2_900x506.jpg.webp);
    width: 97%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
    background-repeat: no-repeat;
}

.box1 { 
    border: 25px solid black;
    background-color: rgba(56, 35, 236,0.8);
    color: white;
    margin-left: 54.5px;
    width: 97%;
    z-index: 5;
}

#imagem {
    text-align: center;
}

#boxTabela {
   border: 25px solid black;
    background-color: white;
    color:  black;
    z-index: 5;
    width: 99%;
    margin-left: 25px;
}

table {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    margin-left: 25px;
}

#container1 {
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: #3823ec;
    border: 1px solid black;
    margin-left: 54.5px;
}

#sobre {
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3823ec;
    margin: auto;
    margin-left: 45px;
}

.vl {
    border: 3px solid rgb(73, 70, 70);
    height: 100%;
    position: absolute;
    top: 0;
    color: white;        
    background-color: rgba(190, 184, 184, 0.5);
    z-index: 1;
  }

  hr {
    margin-left: 54.5px;
    width: 99%;
  }

  a {
      color: red;
  }